<app-popup [windowTitle]="'Table of Contents'">
  <div id="tocDiv" class="container">
    <div class="panel-group">
      <div style="overflow-x: auto; margin-right: 15px; display: inline-block; min-width: 320px;" class="panel panel-default">
        <div class="panel-heading" style="width: 100%;">
          <h4 class="panel-title">
            <a data-toggle="collapse" aria-expanded="true" href="#collapse1">Base Layers</a>
          </h4>
        </div>
        <div id="collapse1" class="panel-collapse collapse in">
          <div class="panel-body">
            <table style="width:100%;">
              <tr *ngIf="mapService.nps">
                <td colspan="3">
                  <app-treeview [node]="mapService.nps" [title]="'NPS'"></app-treeview>
                </td>
              </tr>
              <tr *ngIf="mapService.landfills">
                <td colspan="3">
                  <app-treeview [node]="mapService.landfills"></app-treeview>
                </td>
              </tr>
              <tr *ngIf="mapService.wind">
                <td colspan="3">
                  <app-treeview [node]="mapService.wind" [title]="'Wind'" [expanded]="true"></app-treeview>
                </td>
              </tr>
              <tr>
                <tr *ngIf="mapService.turbines">
                  <td colspan="3">
                    <app-treeview [node]="mapService.turbines" [title]="'Turbines'" [showSlider]="false"></app-treeview>
                  </td>
                </tr>
                <tr>
                  <td colspan="3">
                    <app-treeview [node]="mapService.streetMap"></app-treeview>
                  </td>
                </tr>
                <tr>
                  <td colspan="3">
                    <app-treeview [node]="mapService.topoMap"></app-treeview>
                  </td>
                </tr>
                <tr>
                  <td colspan="3">
                    <app-treeview [node]="mapService.aerialMap"></app-treeview>
                  </td>
                </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</app-popup>